<div class="form-group" id="selectexam" *ngIf="div1">
    <label for="topic">Topic</label>
    <select type="text" name="topic" size="1" class="form-control" [(ngModel)]="top" #topic="ngModel" required>
      <option value="" selected="selected">Select Topic</option>
      <option *ngFor="let topic of topics" value="{{ topic }}">{{ topic }}</option>
    </select>
    <div class="text-center">
      <button type="button" class="btn btn-success" (click)="fetchQuestion()">Start Quiz</button>
    </div>
</div>

  <br/>
  <br/><br/><br/><br/><br/>
   
  
  
          <div class="jumbotron" *ngIf="div3">
              <span >{{ quizlist[i].qid }}</span>
              <p>{{ quizlist[i].question }}</p>
              
              <div class="card-action">
                <div>
                  <ul class="list-group">
                        <li class="list-group-item"  *ngFor="let o of opt">
                          <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{o}}"  (change)="onItemChange(o)"/> 
                          {{o}}
                          
                        </li>
                  </ul>
                </div>
                <button class="btn btn-success" (click)="onClickNext()" id="nextbutton">Next</button>
          <button class="btn btn-success" (click)="onSubmit()">Submit</button><br/><br/><br/><br/><br/><br/>
             </div>
          </div>
              
          
      
         

          <div *ngIf="div2" id="report">
            <h1>Quiz Report</h1><br/><br/>
            <h2>Your Score in {{top}} is {{score}}</h2>
            <button class="btn btn-danger" routerLink="/userhome">Return to Den</button>
          </div>
