<div class="form-group" id="selectexam">
    <label for="topic">Topic</label>
    <select type="text" name="topic" size="1" class="form-control" [(ngModel)]="top" #topic="ngModel" required>
      <option value="" selected="selected">Select Topic</option>
      <option *ngFor="let topic of topics" value="{{ topic }}">{{ topic }}</option>
    </select>
</div>
  {{top}}
  <br/>
  <br/><br/><br/><br/><br/>
  <div class="text-center">
    <button type="button" class="btn btn-success" (click)="fetchQuestion()">Start Quiz</button>
  </div> 
  
          <div class="jumbotron">
              <span >{{ quizlist[i].qid }}</span>
              <p>{{ quizlist[i].question }}</p>
              
              <div class="card-action">
                <div>
                  <ul class="list-group">
                        <li class="list-group-item"  *ngFor="let o of opt">
                          <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{o}}"  (change)="onItemChange(o)"/> 
                          {{o}}
                          
                        </li>
                  </ul>
                </div>
             </div>
          </div>
              
          <button class="btn btn-success" (click)="onClickNext()">Next</button>
          <button class="btn btn-success" (click)="onSubmit()">Submit</button>
      
          {{radioSelected}} {{quizlist[i].answer}} {{score}} {{j}}
