<table class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Question</th>
            <th>OptionA</th>
            <th>OptionB</th>
            <th>OptionC</th>
            <th>OptionD</th>
            <th>Correct Answer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let quiz of list; let i=index">
            <td>{{ quiz.topic }}</td>
            <td>{{ quiz.question }}</td>
            <td>{{ quiz.optionA }}</td>
            <td>{{ quiz.optionB }}</td>
            <td>{{ quiz.optionC }}</td>
            <td>{{ quiz.optionD }}</td>
            <td>{{ quiz.correctAns }}</td>
            <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
        </tr>
    </tbody>
</table>
<!-- <button type="button" class="btn btn-success" (click)="goToSetQuestion()">Add Questions</button>
 -->